
<nav class="row navbar navbar-expand navbar-light bg-dark text-light mb-2">
  
  <div class="col collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink="/">Home <span class="sr-only text-info">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light glyphicon glyphicon-phone" routerLink="/Impo"><i class='fas fa-mobile-alt' style='font-size:20px'></i> My mobile phones <span class="sr-only text-info">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-light" routerLink="/Myph"><i class='far fa-address-book' style='font-size:20px'></i> My phone book <span class="sr-only text-info">(current)</span></a>
      </li>
    </ul>
  </div>

</nav>
