<div class="row">
	<div class="col jumbotron">
		<div class="col-md-6">
		    <h1 class="display-4">Milan's phone book</h1>
		    <p class="lead">Dear Visitor, welcome to the Milan's phones/phone book web-page</p>
		</div>

		<div class="col-md-6">
		   <p>You can see my mobile phones on,<a class="nav-link text-light" routerLink="/Impo"><button class="btn btn-outline-primary">My mobile phones</button></a></p>

		   <p>or you can go on My Phone book page<a class="nav-link text-light" routerLink="/Myph"><button class="btn btn-outline-primary">My Phone Book</button></a>and write your contact and see my contacts as well.</p>
		  </div>
	</div>
</div>