
<div class="row rounded border-white bg-light m-2 p-2">

  <form class="form-inline">
    <div class="col p-1">
      <input name="searchInput" class="form-control"  placeholder="Name" #searchInput="ngModel"  [(ngModel)]="searchText" style="width: 400px;" >
    </div>
     <div class="col p-1">
      <button class="btn btn-success" style="width: 100px;" >Filter</button>
    </div>
</form>


</div>


<div class="row rounded border-white bg-light m-2 p-2">

<table class="table table-borderless table-sm bg-light p-2">
        <thead class="thead h5 p-2">
                <th>Contacts</th>
        </thead>
        <ng-container *ngFor="let contact of contactArray">
                <tr class="table p-2" *ngIf ="filterCondition(contact)">
                        <td>{{contact.firstName}} </td> <td>{{contact.surname}} </td>
                        <td>{{contact.phoneNumber}}</td>
                        <td> <button class="btn btn-info" (click)="contactService.populateForm(contact)">Edit</button> </td>
                        <td> <button class="btn btn-danger" (click)="onDelete(contact.$key)">Delete</button> </td>
                </tr>
                <div class="alert alert-danger" *ngIf="showDeletedMessage" >Deleted successfully</div>
        </ng-container>
</table>

</div>